.mainContainer{
    width: 90%;
    margin: 0 auto;
}

.titleSection{
    margin-top: 20px;
    text-align: center;
}

.titleSection h2 {
    font-size: 2.5rem;
    padding: 10px 0;
    font-weight: bold;
}

.tableContainer{
    margin-top: 20px;
}